@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}

:root {
    --border-Main-MVP: #45c4f0;
    --header-name-color: #0090ca;
    --header-text-shadow: white;
    --header-background-color: #00133c;
    --team-text-main-shadow: white;
    --team-text-Elims-shadow:white;
    --team-background-color: #00133c;
    --team-text-Sub-shadow:white;
    --kill-color: white;
    --kill-text-shadow: 0 0 10px black;
    --kill-background-color: #0d3648;
    --font: Norwester;
  }

@font-face {
    font-family: "Anton-Regular";
    src: url("./fonts/Anton-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("./fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Oswald-SemiBold";
    src: url("./fonts/Oswald-SemiBold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Oswald-Regular";
    src: url("./fonts/Oswald-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "agencygothicct_condensed";
    src: url("./fonts/agencygothicct_condensed.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Agency Gothic CT Bold";
    src: url("./fonts/Agency Gothic CT Bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "agencygothicct_medium";
    src: url("./fonts/agencygothicct_medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

.frame {
  background-color: transparent;
  width: 100%;
  min-width: 1920px;
  min-height: 1080px;
  position: relative;
}

.frame .group {
  position: absolute;
  top: 234px;
  left: 56px;
  width: 708px;
  height: 824px;
}

.frame .rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 694px;
  height: 621px;
  background-color: var(--border-Main-MVP);
}

.frame .rectangle1 {
  position: absolute;
  top: 466px;
  left: 0;
  width: 696px;
  height: 155px;
  background-color: var(--header-name-color);
}

.frame .rectangle-2 {
  position: absolute;
  top: 749px;
  left: 0;
  width: 696px;
  height: 75px;
  background-color: var(--header-name-color);
}

.frame .team-mvp-logo {
  position: absolute;
  top: 445px;
  left: 150px;
  width: 200px;
  height: 200px;
  aspect-ratio: 1;
  object-fit: cover;
}

.frame .text-wrapper {
  position: absolute;
  top: 466px;
  left: 373px;
  font-family: "Agency Gothic CT Bold";
  font-weight: 400;
  color: #000000;
  font-size: 64px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-player-mvp {
  position: absolute;
  top: 544px;
  left: 340px;
  width: 300px;           /* Fixed container width */
  text-align: left;       /* Keeps text anchored */
  font-family: "Oswald-SemiBold";
  font-weight: 400;
  color: var(--team-text-main-shadow);
  font-size: 50px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;    /* Prevents line break */
}

.frame .Player-Mvp-Kills {
  position: absolute;
  top: 615px;
  left: 300px;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: var(--team-text-Elims-shadow);
  font-size: 96px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .Rank-MVP {
  position: absolute;
  top: 29px;
  left: 25px;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-mvp-elims {
  position: absolute;
  top: 755px;
  left: 240px;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: var(--team-text-main-shadow);
  font-size: 48px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .group-2 {
  position: absolute;
  top: 234px;
  left: 771px;
  width: 1106px;
  height: 186px;
}

.frame .rectangle-3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 281px;
  height: 186px;
  background-color: var(--border-Main-MVP);
}

.frame .rectangle-4 {
  position: absolute;
  top: 14px;
  left: 712px;
  width: 384px;
  height: 172px;
  background-color: var(--border-Main-MVP);
}

.frame .text-elims {
  position: absolute;
  top: 50px;
  left: 770px;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: var(--header-text-shadow);
  font-size: 70px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-kills {
  position: absolute;
  top: 50px;
  left: 945px;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 70px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-rank {
  position: absolute;
  top: 13px;
  left: 15px;
  font-family: "Anton-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .team-logo {
  position: absolute;
  top: 20px;
  left: 280px;
  width: 150px;
  height: 150px;
  aspect-ratio: 1;
  object-fit: cover;
}

.frame .team-name {
  position: absolute;
  top: 97px;
  left: 423px;
  width: 350px;          /* Fixed text area */
  text-align: left;      /* Keeps anchor stable */
  white-space: nowrap;   /* Prevents line breaks */
  font-family: "Oswald-SemiBold";
  font-weight: 400;
  color: var(--team-text-Sub-shadow);
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .text-playername {
  position: absolute;
  top: 60px;
  left: 423px;
  width: 350px;          /* Fixed text area */
  text-align: left;      /* Keeps anchor stable */
  white-space: nowrap;   /* Prevents line break */
  font-family: "Oswald-SemiBold";
  font-weight: 400;
  color: var(--team-text-Sub-shadow);
  font-size: 35px;
  letter-spacing: 0;
  line-height: normal;
}


.frame .text-mvp-team {
  position: absolute;
  top: 450px;
  left: 340px;
  width: 400px;          /* Fixed width area */
  text-align: left;      /* Keeps anchor point stable */
  white-space: nowrap;   /* Prevent line break */
  font-family: "Oswald-SemiBold";
  font-weight: 400;
  color: var(--team-text-main-shadow);
  font-size: 85px;
  letter-spacing: 0;
  line-height: normal;
}

.frame .group-3 {
  position: absolute;
  top: 434px;
  left: 771px;
  width: 1106px;
  height: 186px;
}

.frame .group-4 {
  position: absolute;
  top: 646px;
  left: 771px;
  width: 1106px;
  height: 186px;
}

.frame .group-5 {
  position: absolute;
  top: 858px;
  left: 771px;
  width: 1106px;
  height: 186px;
}
